[submodule "app"]
	path = app
	url = https://github.com/calorifero/app.git
[submodule "backend"]
	path = backend
	url = https://github.com/calorifero/backend.git
[submodule "esp"]
	path = esp
	url = https://github.com/calorifero/esp.git
